*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0 10% 0 10%;
    border: solid;
}

h1, p, table, ol, ul, img{
    width: 80%;
    margin: auto;
}

table, tr, td{
    border: 1px solid red;
}

button{
    display: inline-block;
    width: 200px;
    height: 200px;
    transition: all 2s ease-in;
}

button:hover{
    background-color: aqua;
    transform: translate(-1000px);
}

form,option,input{
    display: block;
}